html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: ‘’;
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fin du reset */

/* NavBar */

#navbar {
  position: fixed;
  width: 100%;
  margin: auto;
  background: linear-gradient(#1a1a1a, #000000);
}

nav ul li a {
  text-decoration: none;
  font-family: Courier;
  font-size: 17px;
  padding 0 5px;
  color: white;
}

nav ul li a:hover {
  text-shadow: 10px 0 20px #0080ff;
  transition: 1s;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 17px;
}

/* Fin Navbar */

/* Header */

.header {
  background-image: url("Img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 220px;
  height: 42.5vh;
}

.header h1 {
  font-family: Courier;
  font-size: 60px;
  color: #000000;
  margin-top: -8px;
  font-weight: bold;
  text-shadow: 1px 0px 10px white;
}

.header h3 {
  font-family: Courier;
  font-size: 40px;
  color: #e2dae2;
  margin-top: 70px;
  font-weight: bold;
  text-shadow: 1px 0px 10px black;
}

.header {
  text-align: center;
}

.explore img {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: -230px;
}

.explore img:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}

/* Fin header */

/* A Propos */

#apropos {
  height: 50px;
  background-color: #322f2f;
}

.textpresent h2 {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-family: courier;
  font-size: 40px;
  padding-bottom: 45px;
  color: white;
  padding-top: 40px;
}

.textpresent h3 {
  text-align: center;
  font-family: courier;
  font-size: 20px;
  padding-bottom: 50px;
  color: white;
}

.textpresent h3 a {
  text-decoration: none;
  color: #2b78aa;
  text-shadow: 1px 0 5px white;
}

.textpresent img {
  height: 300px;
  width: 250px;
  position: relative;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  float: left;
  padding: 35px;
}

#firstblock {
  background-color: #1a1a1a;
}

/* Fin A propos */

/* Formation */

#secondblock {
  background-color: #322f2f;
}

.textformation h2 {
  font-family: Courier;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 40px;
  padding-bottom: 45px;
  color: white;
}

.textformation #img {
  position: static;
  height: auto;
  width: auto;
  float: right;
  padding-top: 50px;
  padding-right: 70px;
}

.textformation #img img {
  height: 280px;
  width: 280px;
}

.textformation h3 {
  font-family: Courier;
  font-size: 27px;
  color: #707482;
  font-weight: lighter;
  margin-bottom: 9px;
}

.textformation p {
  font-family: Courier;
  font-size: 18px;
  margin-bottom: 30px;
}

.textformation {
  text-align: center;
}

.textformation h4 {
  padding-bottom: 60px;
  font-family: Courier
}

/* Fin formation */

/* Contact */

#header2 {
  background-image: url("Img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 15px;
  height: 10vh;
}

.textcontact #iconmail {
  float: left;
  margin-left: 250px;
  position: static;
  height: 70px;
  width: 70px;
  padding-top: 2.5px;
}

.textcontact #iconlinkedin {
  margin-left: 200px;
  float: left;
  position: static;
  height: 70px;
  width: 70px;
  padding-top: 2px;
}

.textcontact #icongit {
  margin-right: 210px;
  float: right;
  position: static;
  height: 60px;
  width: 60px;
  padding-top: 6px;
}

.textcontact #iconlocation {
  float: right;
  margin-right: 250px;
  position: static;
  height: 60px;
  width: 60px;
  padding-top: 6px;
}

.textcontact #iconsmartphone {
  float: center;
  margin-left: 150px;
  position: static;
  height: 60px;
  width: 60px;
  padding-top: 6px;
}

.textcontact #iconmail:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}

.textcontact #iconlinkedin:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}

.textcontact #icongit:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}

.textcontact #iconlocation:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}

.textcontact #iconsmartphone:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}
