/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
  #mypics {
    margin-top: 60px;
  }
}

/* Portrait tablets and small desktops */

@media (max-width: 991px) {
  html {
    font-size: 90%;
  }
  .portfolio-item {
    width: 45%;
  }
  .heading p {
    line-height: 30px;
  }
  .about-content {
    text-align: center;
  }
  #mypics {
    height: 370px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .competence, .firstfm, .scdfm {
    margin-top: 15px;
  }
  .competence:first-child {
    margin-top: 15px;
  }
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
  html {
    font-size: 80%;
  }
  .home-details .home-title h1 {
    font-size: 35px;
  }
  .about-content {
    text-align: center;
  }
  .portfolio-item {
    width: 45%;
  }
  .contact-details .contact-category .mail h2 {
    font-size: 40px;
  }
  .contact-details .contact-category .phone h5 {
    font-size: 35px;
  }
  .about-content h3 {
    font-size: 35px;
  }
  .title h3 {
    font-size: 35px;
  }
  #mail {
    font-size: 35px;
  }
}

/* Landscape phones and smaller */

@media (max-width: 480px) {
  html {
    font-size: 65%;
  }
  .home-details .home-title h1 {
    font-size: 20px;
  }
  .scroll-down h5 {
    font-size: 13px;
  }
  .portfolio-item {
    width: 99%;
  }
  .contact-details .contact-category .mail h2 {
    font-size: 25px;
  }
  .contact-details .contact-category .phone h5 {
    font-size: 22px;
  }
  .copyright p {
    font-size: 12px;
  }
  #mypics {
    height: 240px;
    width: 190px;
  }
  .about-content h3 {
    font-size: 25px;
  }
  .title h3 {
    font-size: 25px;
  }
  .about-content p {
    font-size: 15px;
  }
  .home-details .home-title h1 {
    font-size: 30px;
  }
  #mail {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 60.5%;
  }
  .home-details .home-title h1 {
    font-size: 25px;
  }
  .home-details .home-title p {
    font-size: 10px;
  }
  #mail {
    font-size: 20px;
  }
}
